.grid-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
}

.row-container {
    display: flex;
    justify-content: center;
}

.square {
    border-radius: 2px;
    border-color: black;
}